// Variables//
//
// colors//
$wine: #d35266;
$grey: #888;
$black: #383838;
//

//fonts//
$Gotham-b: "Gotham", arial, helvetica, sans-serif;
$Gotham-light: "Gotham Rounded", arial, helvetica, sans-serif;
$hel-light: "Helvetica Neue", arial, helvetica, sans-serif;
$hel-normal: "helvetica Neue regular", arial, helvetica, sans-serif;
$hel-bold: "helvetica Neue WGL", arial, helvetica, sans-serif;
//
//////////////////////////////////////////////////

// Mixins //
//
