// Variables//
//
// colors//
$wine: #d35266;
$grey: #888;
$black: #383838;
//

//fonts//
$Gotham-b: "Gotham";
$Gotham-light: "Gotham Rounded";
$hel-light: "Helvetica Neue";
$hel-normal: "helvetica Neue regular";
$hel-bold: "helvetica Neue WGL";
//
//////////////////////////////////////////////////

// Mixins //
//
