// Variables//
//
// colors//
$wine: #d35266;
$grey: #888;
$black: #383838;
//

//fonts//
$gotham-b: gotham;
$gotham-light: gotham rounded;
$hel-light: Helvetica Neue;
$hel-normal: Helvetica Neue regular;
$hel-bold: Helvetica Neue wgl;
//
//////////////////////////////////////////////////

// Mixins //
//
